<ul>
	<li><a href="#">Search service for type</a></li>
</ul>
<h2>All Services</h2>
<ul>
<% @services.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>
