<p>Find service by type:</p>
<ul>
<% @types.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %> services</a></li>
<% end %>
</ul>
<h2>All Services</h2>
<ul>
<% @services.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>
