<h1>New Teacher</h1>

<%= render partial:'shared/error_partial', locals:{what: @teacher, name:'teacher'} %>
<%= render partial:'teacher_form', locals: {to_do:'create' , to_met: 'post', what: @teacher} %>


<%= render 'shared/hide_semantic_link' %>
<%= render 'shared/hide_structural_link' %>
