<ul>
	<li><a href="#">Search structure per type</a></li>
</ul>
<h2>All Structures</h2>
<ul>
<% @structures.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>
