<p>Find structure by type:</p>
<ul>
<% @types.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %> structures</a></li>
<% end %>
</ul>
<h2>All Structures</h2>
<ul>
<% @structures.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>
