<h1>New lecture for <%= @course.name %></h1>



<%= render partial: 'lecture_form', locals: { to_do: 'create', to_met: 'post'} %>



<%= render 'shared/hide_structural_link' %>
<%= render 'shared/hide_semantic_link' %>