<h1>New me</h1>

<%= render partial:'shared/error_partial', locals:{what: @material, name:'material'} %>
<%= render partial:'material_form', locals: {to_do:'create' , to_met: 'post', what: @material} %>

<%= render 'shared/hide_structural_link' %>
<%= render 'shared/hide_semantic_link' %>