


<h1>Courses for curriculum <%= @curriculum.name %></h1>

<%= render partial: 'course_table', locals: {got_to: "/courses/courses_by_type/#{@curriculum.id}/" }  %>




<%= render 'shared/structural_link' %>
<%= render 'shared/semantic_link' %>