<h1>New Course</h1>

<%= render partial:'course_form', locals: {to_do:'create' , to_met: 'post', what: @course} %>


<%= render 'shared/hide_semantic_link' %>
<%= render 'shared/hide_structural_link' %>