<h1>Edit Classroom <%= @classroom.name %></h1>

<%= render partial:'shared/error_partial', locals:{what: @classroom, name:'classroom'} %>
<%= render partial:'classroom_form', locals: {to_do:'update' , to_met: 'put', what: @classroom} %>
