<% content_for :semanticLinkMenu do%>
	<ul class=menu>
	
		<% if @semant_links
			@semant_links.each do |element| %>
			  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
			<%end %>
					
		<%end%>
	</ul>

<% end %>