<h1>How to get there</h1>
<p>Our stunning campus is situated in one of the safest counties in the UK - Surrey - and is just 19 miles away from Central London giving you the best of both worlds. Beautiful countryside and the resources and attractions of the capital are all within easy reach.</p>
<p>Excellent road and transport links are an important feature of our location.  Our postcode is TW20 0EX.</p>
<p>Royal Holloway also has a central London base at 11 Bedford Square, which is within a two-minute walk of the British Museum and Senate House Library.The nearest tube stations are Goodge Street and Tottenham Court Road (five minute walk).</p>
<p>The Grade I Listed building is currently used as teaching space and is set to be renovated with improved teaching and training spaces.</p>
<img src="http://www.somersethouse.org.uk/images/mi/visit/map.jpg" alt="map" width="600">
