<p>Find event by type:</p>
<ul>
<% @types.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %> events</a></li>
<% end %>
</ul>
<p>Find event by date:</p>
<h2>All Events</h2>
<ul>
<% @events.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>
