<h1>Edit new for <%= @new.course.name %></h1>

<%= render partial: 'news_form', locals: { to_do: 'update', to_met: 'put', what: @new} %>



<%= render 'shared/hide_semantic_link' %>
<%= render 'shared/hide_structural_link' %>