<h1>Edit event <%= @event.name %></h1>

<%= render partial: 'event_form', locals: { to_do: 'update', to_met: 'put', what: @event} %>
<%= render "shared/structural_link" %>
<%= render "shared/semantic_link" %>
