<h1>School's Awards</h1>

<table class="styled-table" >
	<thead>
		<tr>
			<th>Award </th>
			<th>Date </th>
		</tr>

	</thead>
	<tbody>
<% @awards.each do |element| %>
	<tr>
	  <td><a href="<%= element[:value] %>"><%= element[:name] %></a></td>
	<td><%= element[:time] %></td>
	</tr>
<% end %>


	</tbody>


</table>
