<h1>Curricula</h1>
<ul>
<% @curricula.each do |element| %>
	  <li><a href="<%= element[:value] %>"><%= element[:name] %></a></li>
<% end %>
</ul>

<%= render "shared/structural_link" %>
<%= render "shared/semantic_link" %>