<h1><%= @title %></h1>
<p>The purpose of this webpage is to give parents and guardians a detailed explanation on how to apply for school places in Leicestershire. By clicking on the links below you can find out more information regarding school admissions, as well as useful links, downloads and contact details. Contact us on 0116 3056684 or email admissions@leics.gov.uk.</p>
