<h1>New Exam</h1>

<%= render partial:'shared/error_partial', locals:{what: @exam, name:'exam'} %>
<%= render partial:'exam_form', locals: {to_do:'create' , to_met: 'post', what: @exam} %>


<%= render 'shared/hide_semantic_link' %>
<%= render 'shared/hide_structural_link' %>
