<p>find me in views/courses/view.html.erb</p>
<ul>
	<li><a href="/courses/courses_by_year">Search for course's year</a></li>
	<li><a href="#">Search for course's type</a></li>
</ul>
<h2>All Courses</h2>
<ul>
<% @courses.each do |course| %>
	  <li><%= link_to course.name, course_path(course)  %></li>
<% end %>
</ul>


<%= render "shared/hide_structural_link" %>
<%= render "shared/hide_semantic_link" %>

