<h1>Edit service <%= @service.name %></h1>

<%= render partial: 'service_form', locals: { to_do: 'update', to_met: 'put', what: @service} %>
<%= render "shared/structural_link" %>
<%= render "shared/semantic_link" %>
