<h1>Create new Service</h1>
<%= render partial: 'service_form', locals: { to_do: 'create', to_met: 'post', what: @service} %>
<%= render "shared/structural_link" %>
<%= render "shared/semantic_link" %>
