/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require superfish
 *= require superfish-vertical
 *= require superfish-navbar
 */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body
{
    margin:0;
    padding:0;
    background-color: #ff;
}

html,body{
  font-family: Tahoma, Geneva, sans-serif;

}


/* Main wrapper contiene tutta la pagina
 * e ne determina le dimensioni base 
 * La larghezza e' comune a tutti.
 * Le lunghezze sono specificate per:
 * #header-wrapper:
 * #nav
 * #page-wrapper
 * #footer-wrapper
 * 
 */
#main-wrapper{
  width:1000px;
  margin:auto; 

}

#header-wrapper{
/*   border: 1px solid blue; */
  height:200px;
  /*this is necessary for later positioning of the landmark-menu!*/
  background-image:url(/assets/header-img.png);
  background-size: length 100px;
  background-repeat: no-repeat;
}

#nav{
  
  background-color: #333333;
  height:35px;
  width: 100%;
}

#page-wrapper{
  /*border: 1px solid green;  */ 
  width: 100%;
  height:800px;

}


#footer-wrapper {
  clear:both;
 
  height:80px;
  background-color:#333333;
}


#sidebar-right,#content{
  height:100%;
  background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(234,234,234,1) 1%, rgba(234,234,234,1) 99%, rgba(51,51,51,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(1%,rgba(234,234,234,1)), color-stop(99%,rgba(234,234,234,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 1%,rgba(234,234,234,1) 99%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 1%,rgba(234,234,234,1) 99%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 1%,rgba(234,234,234,1) 99%,rgba(51,51,51,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 1%,rgba(234,234,234,1) 99%,rgba(51,51,51,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */

}


#sidebar-right{
  /*border: 1px solid green;   */
  width: 25%;
  float:right;
}

#sidebar-right{
  background: rgb(51,51,51); /* Old browsers */
background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(234,234,234,1) 2%, rgba(234,234,234,1) 98%, rgba(51,51,51,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,1)), color-stop(2%,rgba(234,234,234,1)), color-stop(98%,rgba(234,234,234,1)), color-stop(100%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 2%,rgba(234,234,234,1) 98%,rgba(51,51,51,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 2%,rgba(234,234,234,1) 98%,rgba(51,51,51,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 2%,rgba(234,234,234,1) 98%,rgba(51,51,51,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(234,234,234,1) 2%,rgba(234,234,234,1) 98%,rgba(51,51,51,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */


}

#content{
  /*border: 1px solid purple;    */
  float:left;
  width:75%;
  padding: 15px;
  position:relative;

}




#structural-block,#semantic-block {
  width: 80%;
  margin: 20px auto 40px;

}

#credits {
  /* border: 1px solid green; */

  height:50%;
  


}

#admin_menu{
  
  height: 35px;  
  width: 1000px;
  margin: auto;
  background-color: #333333;
}


#logo{
  float:left;
  width: 80px;
  margin: 30px ;
  border: 1px solid purple;
  display:none;

}


#galleria{height:520px;}


/*Flash Stiling*/

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
  background-color: #d5FFd5;
  border: solid 1px green;
  color: green;
}

#flash_error, #flash_alert, #error_explanation {
  background-color: #FFD5D5;
  border: solid 1px red;
  color: red;
}

#breadcrumb{
  color: black;
  height: 30px;


}

#login-form {
  
  width: 300px;
  margin: auto;

}




#breadcrumb a, .pagination a{
  color: green;
  text-decoration: none;
  
}

#breadcrumb a:hover,.pagination a:hover{

  color:#51F751;
  
}




.paginate {
  /*border: 1px solid green;*/
  display:block;
  margin-top: 30px;
 
  bottom:20px;
  
  text-align:center;
   /*position:absolute;
  margin:auto;*/
}


.pagination{
  color:green;
  font-weight:bold;
  

}

.pagination .disabled, .pagination .current{

  color:#023302;
  
}



/*Classes*/
.menu{
  /* border: 1px solid green; */
  width: 100%;
  margin: 0px;
 
  
  
}


ul.menu {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0; 
  
}

ul.menu >li{

/*   text-align: center; */
 
}


ul.menu >li a{
 display:block;
 
 /*margin: 1px 0px;*/
 padding: 3px 0px ;
 width: 100%;
 height: 25px;
 
 text-decoration: none;
 text-align: center;

 color: white;
 background-color: #333333;
 
 border-bottom: 1px solid  #AAAAAA;  
  
}

ul.menu >li a:hover {
  font-weight: bold;
  background-color: #AAAAAA;
  

}

/*
 * Settings fo the landmark menu
 */


ul.landmark-menu {
  list-style-type: none;
  width:35 px;  
  margin:0;
  padding: 0;

  
  
}


ul.landmark-menu > li {
 
 float:left;
 
}

ul.landmark-menu > li > a{
  display:block;
  text-decoration:none;
  
  color: white;
  background-color: #333333;
  
  /*margin:0px 1px 0px 0px;*/
  padding:8px; 
  
  width:130px;
  height:35px;
  text-align: center;
  border-right: 1px solid #AAAAAA;
}

ul.landmark-menu li a:hover{
  font-weight:bold;
  background-color: #AAAAAA;
  
}

/* 
  Login Buttons
 */
ul.login > li {
 
 float:right;
  
}

ul.login > li> a  {
 
 float:right;
 border:none;
 
 
}



/*
Footers menu

*/




.landmark-footer-menu{
  height:50%;
  /*border: 1px solid green;*/

}

ul.landmark-footer-menu{

  /*1 use to center the menu */
  display: block; 
  text-align:center;
  /*1*/
  
  list-style-type: none;
  list-style-position:inside;
  
  padding:0px 0px; 

  margin:auto;
  

}

ul.landmark-footer-menu >li{
  /*2 use to center the menu items*/
  display: inline-block;
  /*2*/
}

ul.landmark-footer-menu >li >a{
  
  display:block;
  text-decoration:none;
  text-align: center;

  color: white;
  
  padding:10px; 
  width:130px;
  
}

ul.landmark-footer-menu >li >a:hover{
  
  font-weight:bold;

}

ul.landmark-menu > li > a.no-link:hover{
  background-color: #333333;
  font-weight: normal;
  
  
}

 .signed_in{
  
  width: 1500px !important;

}
