label {
	font-style:italic;


}

textarea {
	width: 95%;
	height:100px;
}

input[type="text"] {
	
	width: 45%;
}

input[type="submit"]{

		height:30px;
} 

select {
	height: 23px;
	text-align: center;
	padding: 1px 0px;

}