/***Superfish Skin ***/
.sf-menu {
	
}

ul.sf-menu {
	
	list-style-type: none;
  	list-style-position:inside;
  	width:35 px;  
  	margin:0;
  	padding:0; 
}
ul.sf-menu > li {
	float:left;

}

.sf-menu a {
  display:block;
  text-decoration:none;
  
  color: white;
  
  
  /*margin:0px 1px 0px 0px;*/
  padding:7px; 
  
  /*width:100px;*/
  width:120px;
  height:35px;
  text-align: center;
  border-right: 1px solid #AAAAAA;

}

.sf-menu li {
	background: #333333;
	
	
}

.sf-menu ul li a{
	border:none;
	border-top: 1px solid green;
	width: 150px;
	
		
}


.sf-menu ul ul li {
	background: #333333;
	border-right: green;
	
}



.sf-menu  li:hover 
{
	background: #AAAAAA;
	/* only transition out, not in */
	font-weight:bold;

}

.sf-menu ul li a:hover {
	
	color:green;
	
	
}

a.no-link{
	width:140px;
	font-weight:bold;
}

a.no-link:hover{
  background-color: #333333;
  
  
  
}

.sf-menu ul ul li a:hover {
	background: #AAAAAA;
	border-left: 1px solid green;
	
}
