

table.styled-table {
	
	border-collapse: collapse;
	width: 100%;
	max-width:100%;
}

table.styled-table, .styled-table th,.styled-table td{
	border:1px solid green;

}

.styled-table th {
	
	background-color: #333333;
	color: white;
	
	text-align:center;
	font-weight: bold;

	height: 40px;
	

	margin:0px;
	padding:0px;

}

.styled-table td{

	text-align:left;
	padding: 10px 10px 10px;
	
	margin:0px;
	

}

.styled-table a{
	
	color:blue;
}

.styled-table td  a{
	
	text-decoration: none;
}

.styled-table td  a:hover {
	color:red;

}

.description {
	width:320px;
}

.timetable th{
	width:16%;
}

td.classroom{
	text-align: center;

}

td.time {
	background-color:#535353;
	color: white;
	font-weight: bold;
	text-align:right;
}