

table.styled-table {
	
	border-collapse: collapse;
	width: 100%;
	max-width:100%;
}

table.styled-table, .styled-table th,.styled-table td{
	border:1px solid green;

}

.styled-table th {
	
	background-color: #333333;
	color: white;
	
	text-align:center;
	font-weight: bold;

	height: 40px;
	

	margin:0px;
	padding:0px;

}

.styled-table td{

	text-align:left;
	padding: 10px 10px 10px;
	background-color:white;
	margin:0px;
	

}

.styled-table a, a.new_button{
	
	
	color:#006B00;
	text-decoration: none;
}


.styled-table td  a:hover, a.new_button:hover {
	/*color:green;
	color:#002B00;
	color: #114711;*/
	color:#54FF54;
	

}

.description {
	width:320px;
}

.timetable th{
	width:16%;
}

td.classroom{
	text-align: center;

}

td.time {
	background-color:#535353;
	color: white;
	font-weight: bold;
	text-align:right;
}
