<h1>New Curriculum</h1>

<%= render partial:'shared/error_partial', locals:{what: @curriculum, name:'curriculum'} %>
<%= render partial: 'curriculum_form', locals: {to_do: 'create', to_met: 'post', what: @curriculum} %>

<%= render 'shared/hide_structural_link' %>
<%= render 'shared/hide_semantic_link' %>